
:root {
    --measureBorderRadiusRadiusNone0_: 0px;    
    --measureBorderRadiusRadiusXxs2_: 2px;    
    --measureBorderRadiusRadiusXs4_: 4px;    
    --measureBorderRadiusRadiusSm6_: 6px;    
    --measureBorderRadiusRadiusMd8_: 8px;    
    --measureBorderRadiusRadiusLg10_: 10px;    
    --measureBorderRadiusRadiusXl12_: 12px;    
    --measureBorderRadiusRadius2xl16_: 16px;    
    --measureBorderRadiusRadius3xl20_: 20px;    
    --measureBorderRadiusRadius4xl24_: 24px;    
    --measureDimensionRadius5xl32_: 32px;    
    --measureBorderRadiusRadiusFull9999_: 9999px;    
    --measureSpaceSpacingNone0_: 0px;    
    --measureSpaceSpacingXxs2_: 2px;    
    --measureSpaceSpacingXs4_: 4px;    
    --measureSpaceSpacingSm6_: 6px;    
    --measureSpaceSpacingMd8_: 8px;    
    --measureSpaceSpacingLg12_: 12px;    
    --measureSpaceSpacingXl16_: 16px;    
    --measureSpaceSpacing2xl20_: 20px;    
    --measureSpaceSpacing3xl24_: 24px;    
    --measureSpaceSpacing4xl32_: 32px;    
    --measureSpaceSpacing5xl40_: 40px;    
    --measureSpaceSpacing6xl48_: 48px;    
    --measureSpaceSpacing7xl64_: 64px;    
    --measureSpaceSpacing8xl80_: 80px;    
    --measureSpaceSpacing9xl96_: 96px;    
    --measureSpaceSpacing10xl128_: 128px;    
    --measureSpaceSpacing11xl160_: 160px;    
    --measureBorderWidthWidthXs1_: 1px;    
    --measureDimensionWidthSm15_: 1.5px;    
    --measureDimensionWidthMd2_: 2px;    
    --measureDimensionWidthLg25_: 2.5px;    
    --measureFontSizeFontSizeDesktopLabel: 12px;    
    --measureDimensionFontSizeDesktopButton: 14px;    
    --measureFontSizeFontSizeDesktopLinksSm: 14px;    
    --measureFontSizeFontSizeDesktopLinksMd: 16px;    
    --measureFontSizeFontSizeDesktopLinksLg: 18px;    
    --measureFontSizeFontSizeDesktopLinksXl: 20px;    
    --measureFontSizeFontSizeDesktopBodySm: 14px;    
    --measureFontSizeFontSizeDesktopBodyMd: 16px;    
    --measureLineHeightLineHeightDesktopTextXs: 18px;    
    --measureFontSizeFontSizeDesktopBodyLg: 18px;    
    --measureLineHeightLineHeightDesktopTextSm: 20px;    
    --measureLineHeightLineHeightDesktopTextMd: 24px;    
    --measureDimensionFontSizeDesktopBodyXl: 20px;    
    --measureFontSizeFontSizeDesktopHeader6: 24px;    
    --measureFontSizeFontSizeDesktopHeader5: 30px;    
    --measureFontSizeFontSizeDesktopHeader4: 36px;    
    --measureLineHeightLineHeightDesktopTextLg: 28px;    
    --measureFontSizeFontSizeDesktopHeader3: 48px;    
    --measureLineHeightLineHeightDesktopTextXl: 30px;    
    --measureDimensionFontSizeDesktopHeader2: 60px;    
    --measureDimensionFontSizeDesktopHeader1: 72px;    
    --measureLineHeightLineHeightDesktopHeader6: 32px;    
    --measureLineHeightLineHeightDesktopHeader5: 38px;    
    --measureLineHeightLineHeightDesktopHeader4: 44px;    
    --measureLineHeightLineHeightDesktopHeader3: 60px;    
    --measureLineHeightLineHeightDesktopHeader2: 72px;    
    --measureLineHeightLineHeightDesktopHeader1: 90px;    
    --measureFontSizeFontSizeMobileLabel: 12px;    
    --measureDimensionFontSizeMobileButton: 14px;    
    --measureDimensionFontSizeMobileLinksSm: 12px;    
    --measureFontSizeFontSizeMobileLinksMd: 14px;    
    --measureFontSizeFontSizeMobileLinksLg: 16px;    
    --measureFontSizeFontSizeMobileLinksXl: 18px;    
    --measureFontSizeFontSizeMobileBodySm: 12px;    
    --measureFontSizeFontSizeMobileBodyMd: 14px;    
    --measureFontSizeFontSizeMobileBodyLg: 16px;    
    --measureDimensionFontSizeMobileBodyXl: 18px;    
    --measureFontSizeFontSizeMobileHeader6: 16px;    
    --measureFontSizeFontSizeMobileHeader5: 18px;    
    --measureFontSizeFontSizeMobileHeader4: 20px;    
    --measureFontSizeFontSizeMobileHeader3: 24px;    
    --measureDimensionFontSizeMobileHeader2: 28px;    
    --measureDimensionFontSizeMobileHeader1: 32px;    
    --measureLineHeightLineHeightMobileTextSm: 18px;    
    --measureLineHeightLineHeightMobileTextMd: 20px;    
    --measureLineHeightLineHeightMobileTextLg: 24px;    
    --measureLineHeightLineHeightMobileTextXl: 28px;    
    --measureLineHeightLineHeightMobileHeader6: 20px;    
    --measureLineHeightLineHeightMobileHeader5: 24px;    
    --measureLineHeightLineHeightMobileHeader4: 28px;    
    --measureLineHeightLineHeightMobileHeader3: 32px;    
    --measureLineHeightLineHeightMobileHeader2: 36px;    
    --measureLineHeightLineHeightMobileHeader1: 40px;    
    --measureBorderWidthWidthXs1_: 1px;    
    --measureFontSizeFontSizeDesktopLinksSm: 14px;    
    --measureDimensionDimensionDimensionScale: 2px;    
    --measureDimensionDimensionDimensionXs: 4px;    
    --measureDimensionDimensionDimensionSm: 8px;    
    --measureDimensionDimensionDimensionMd: 16px;    
    --measureDimensionDimensionDimensionLg: 32px;    
    --measureDimensionDimensionDimensionXl: 64px;    
    --measureSpaceSpacingSpacingXs: 4px;    
    --measureSpaceSpacingSpacingSm: 8px;    
    --measureBorderRadiusBorderRadiusBorderradiusSm: 4px;    
    --measureBorderRadiusBorderRadiusBorderradiusLg: 8px;    
    --measureBorderRadiusBorderRadiusBorderradiusXl: 16px;    
    /* You can have multiple values in a single radius token. Read more on these: https://docs.tokens.studio/available-tokens/border-radius-tokens#single--multiple-values */
    --measureBorderRadiusBorderRadiusBorderradiusMultiValue: 48px;    
    --measureOpacityOpacityOpacityLow: 10%;    
    --measureOpacityOpacityOpacityMd: 50%;    
    --measureOpacityOpacityOpacityHigh: 90%;    
    --measureLineHeightLineHeightLineheightsHeading: 110%;    
    --measureLineHeightLineHeightLineheightsBody: 140%;    
    --measureLetterSpacingLetterSpacingLetterspacingDefault: 0px;    
    --measureLetterSpacingLetterSpacingLetterspacingIncreased: 150%;    
    --measureLetterSpacingLetterSpacingLetterspacingDecreased: -5%;    
    --measureParagraphSpacingParagraphSpacingParagraphspacingH1: 32px;    
    --measureParagraphSpacingParagraphSpacingParagraphspacingH2: 26px;    
    --measureFontSizeFontSizeFontsizesH1: 48.829px;    
    --measureFontSizeFontSizeFontsizesH2: 39.063px;    
    --measureFontSizeFontSizeFontsizesH3: 31.25px;    
    --measureFontSizeFontSizeFontsizesH4: 25px;    
    --measureFontSizeFontSizeFontsizesH5: 20px;    
    --measureFontSizeFontSizeFontsizesH6: 16px;    
    --measureFontSizeFontSizeFontsizesBody: 16px;    
    --measureFontSizeFontSizeFontsizesSm: 13.6px;    
    --measureFontSizeFontSizeFontsizesXs: 10.4px;    
}